.headshot {
    margin: 0.2em 3.5% 0em 0em;
    width: 36%;
    max-width: 240px;
}

img {
  border-radius: 20%;
}

.profile {
    margin: 0em 0em 0em 0em;
}


.jumbotron {
  background-image: url("../images/2-Figure2-1.png");
  background-size:contain
}